<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wanshan.gisdev.dao.EmergencyMapper">
    <resultMap id="BaseResultMap" type="cc.wanshan.gisdev.entity.TasktTemplate.Emergency">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="emergency_name" jdbcType="VARCHAR" property="emergencyName"/>
        <result column="geometry" jdbcType="OTHER" property="geometry"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_time, emergency_name, geometry
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from emergency
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findAll" resultType="cc.wanshan.gisdev.entity.TasktTemplate.Emergency">

	  select  * from emergency
	</select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from emergency
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="cc.wanshan.gisdev.entity.TasktTemplate.Emergency">
    insert into emergency (id, create_time, emergency_name, 
      geometry)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=DATE}, #{emergencyName,jdbcType=VARCHAR}, 
      #{geometry,jdbcType=OTHER})
  </insert>
    <insert id="insertSelective" parameterType="cc.wanshan.gisdev.entity.TasktTemplate.Emergency">
        insert into emergency
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="emergencyName != null">
                emergency_name,
            </if>
            <if test="geometry != null">
                geometry,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="emergencyName != null">
                #{emergencyName,jdbcType=VARCHAR},
            </if>
            <if test="geometry != null">
                #{geometry,jdbcType=OTHER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cc.wanshan.gisdev.entity.TasktTemplate.Emergency">
        update emergency
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="emergencyName != null">
                emergency_name = #{emergencyName,jdbcType=VARCHAR},
            </if>
            <if test="geometry != null">
                geometry = #{geometry,jdbcType=OTHER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cc.wanshan.gisdev.entity.TasktTemplate.Emergency">
    update emergency
    set create_time = #{createTime,jdbcType=DATE},
      emergency_name = #{emergencyName,jdbcType=VARCHAR},
      geometry = #{geometry,jdbcType=OTHER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>